name: Tests

on: [pull_request]


jobs:
  test:
    env:
      GO111MODULE: on
    name: Test
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: Before install
        run: |
          go get golang.org/x/tools/cmd/cover
          go get github.com/mattn/goveralls
      - name: Test
        run: |
          cd ../../logzio-lambda-extensions-logs/utils
          go test -v -race -covermode=atomic -coverprofile=coverage.out